/target
/dev-scripts/**/target/
/extensions/**/target/
/bin/
debug/
release/
*.rs.bk
*.expanded.rs
*.rlib
*.prof*
*.log
.env*
.idea/
.DS_Store
Thumbs.db
*.tmp
*.swp
/lineup.yml

/LOCAL.md

/tools/
/vendor/pvz-emulator/
/.cargo-home/
/results/
/user-scripts/
