* text=auto eol=lf

*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.stderr text eol=lf
*.[cC][sS][vV] text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.exe binary
*.dll binary
*.lib binary
*.pdb binary
*.obj binary
*.profraw binary
*.profdata binary
